body
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://github.com/miguel637/SSTConcurso/blob/gh-pages/resources/pistaFondo.jpg);
}
img
{
    width: 12.6%;
}
table
{
    color: rgb(173, 149, 163);
}
